@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #333;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 300px;
    max-height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color:#fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../images/ciberseguretat.png");
    background-size: cover; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav__title {
    font-weight: 300;
}

.nav__items{
    list-style: none;
}

.nav__link{ 
    margin-left: auto;
    padding:0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__links{
    color:#fff;
    text-decoration: none;
}

.nav__menu{
margin-left: auto;
display: none;
cursor: pointer;
}

.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-bottom: 100px;
}

.hero__title{
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero__paragraph{
    font-size: 1.5rem;
}

.hero__bottom{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    padding: 13px 20px;
    text-decoration: none;
    border-radius: 20px;
    display: grid;
    --padding-container:0;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 30px;
}

.introduccio__paragraph{
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1.5;
    font-size: 20px;
}

.objectiu__paragraph{
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1.5;
    font-size: 20px;
}

.memoria__paragraph{
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1.5;
    font-size: 20px;
}

.funcionament__paragraph{
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1.5;
    font-size: 20px;
}