@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #333;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: max-content;;
    max-height: max-content;;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color:#fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../images/ciberseguridad.png");
    background-size: cover; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.hero__title{
    font-size: 5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero__paragraph{
    font-size: 2.5em;
}